<connectionStrings>
  <add name="DefaultConnection" 
       connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-WebAppDemo-20210120103524.mdf;Initial Catalog=aspnet-WebAppDemo-20210120103524;Integrated Security=True" 
       providerName="System.Data.SqlClient" />
  <add name="ChinookDB"
       connectionString="Data Source=JAROD-PC\SQLEXPRESS01;Initial Catalog=Chinook;Integrated Security=true"
       providerName="System.Data.SqlClient"/>
</connectionStrings>